
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
    box-sizing: border-box;
    padding: 0%;
    border: 0px;
    margin: 0%;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}
.Topo{
    background-color: #FCF0D8;
    height: 148px;
    width: 100%;
    display: flex;
}
.Logo{
    height: 121px;
    width: 107px;
    left: 121px;
    padding: 13px;
}
.Meio{
    background-color: #F6D68A;
    height: 715px;
    width: 100%;
}
nav ul{
    list-style: none;
    font-size: 143px 38px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-content: center;
    gap:20px
}
nav ul a{
     display: flex;
    justify-content: center;
    align-content: center;
    text-decoration: none;
}

.Setores{
    font-family: "Poppins", sans-serif;
    color: black;
}
.SetBottom{
    width: 158px;
    height: 48px;
    padding: 50px;
    left: 1161px;
    border: solid 2px black;
    border-radius: 10px;
    background-color: #FFB400;
}
.SetBottom1{
    width: 158px;
    height: 48px;
    padding: 50px;
    left: 997px;
    border: solid 3px black;
    border-radius: 10px;
    background-color: #FCF0D8;
}

