* {
    scroll-behavior: smooth;
    margin: 0;
}

:root {
    --LightBlue: #B3DEEA;
    --Cyan: #94b0ff;
    --Pink: #e834ff;
    --LightPink: #E2A9F1;
}

header {
    background-image: linear-gradient(to right, var(--Cyan), var(--Pink));
    opacity: 70%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    overflow: hidden;
}

.MindUpTitle {
    font-family: "Lobster Two", cursive;
    position: absolute;
    font-size: 70px;
    left: 50%;
    transform: translateX(-50%);
}

.navegacao {
    margin-left: 45%;
    order: 2;
}

.navegacao ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.navegacao a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    background-color: var(--LightPink);
    padding: 9px 25px;
    border-radius: 100px;
    border: 1px solid;
}

.Logo {
    padding-left: 10%;
    height: auto;
    width: 120px;

}

/* PARTE DO MEIO AQU */

.sectionCentral {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 60vh;

}

.sectionCentral img {
    height: auto;
    width: 250px;
}

.div1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.div1 h2 {
    font-size: 2.0rem;
    color: #333;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
}

.botaoExperimente {
    text-decoration: none;
    color: black;
    background-image: linear-gradient(to right, #abc9ff, #deb1ff);
    border-radius: 200px;
    padding: 12px 30px;
    width: fit-content;  /* pro botao nao esticar ate o caralho */
    font-size: 23px;
}
/* rodapé começa aqui eu ach */
.Rodapé {
    background-image: linear-gradient(to right, var(--Cyan), var(--Pink));
    width: 100%;
    height: 20vh;
    bottom: 0;
    position: fixed;
    left: 0;
    opacity: 70%;
    display: flex;
    justify-content: space-around;
}
.ClassEmp{
    
}
